/*** page ***/
	/* background */
		#background {
			/*background-image: url(./banner.png);*/
			background-size: cover;
			background-repeat: no-repeat;
			background-position: center;
			height: 100vh;
			width: 100vw;
			overflow: hidden;
			filter: blur(3px);
			box-shadow: 0px 0px 20px #333333 inset;
			opacity: 0.25;
			z-index: 0;
		}

	/* board */
		#board {
			position: absolute;
			height: 100vh;
			width: 100vw;
			top: 0px;
			left: 0px;
			z-index: 1;
			overflow: hidden;
			background-color: #dddddd;
		}

/*** opponents ***/
	#opponents {
		float: left;
		width: 100vw;
		height: calc((3vh * 7) + 10px + 10px + 10px + 15px);
		top: 0px;
		left: 0px;
		text-align: center;
		white-space: nowrap;
		overflow: hidden;
		overflow-x: scroll;
		background-color: #dddddd;
	}

	.opponent {
		display: inline-block;
		height: calc((3vh * 7) + 10px + 10px);
		border: 5px solid #111111;
		border-radius: 10px;
	}

	/* name */
		.opponent .name {
			display: inline-block;
			height: calc((3vh * 7));
			width: calc((3vh * 5));
			text-align: center;
			font-size: 15px;
			padding: 10px;
			border-radius: 20px 20px 0px 0px;			
			background-color: transparent;
			color: #111111;
			resize: none;
			text-transform: uppercase;
			font-weight: bold;
			cursor: default;
		}

	/* cups */
		.opponent .cups {
			display: inline-block;
			height: calc((3vh * 8) - 10px);
			min-width: calc((3vh * 6) - 10px);
			box-shadow: 0px 0px 10px #aaaaaa;
			border-radius: 10px;
			padding: 5px;
			vertical-align: top;
			border-radius: 10px;
		}

		.opponent .cups:after {
			display: block;
			text-align: center;
			content: "cup";
			color: #333333;
			border-radius: 5px;
			font-size: 15px;
			height: 25px;
			width: 100%;
			transform: translateY(250%);
			opacity: 0.5;
			pointer-events: none;
			user-select: none;
			-webkit-user-select: none;
			-moz-user-select: none;
			-ms-user-select: none;
			-o-user-select: none;
		}

	/* immunities */
		.opponent .immunities {
			display: inline-block;
			height: calc((3vh * 8) - 10px);
			min-width: calc((3vh * 6) - 10px);
			padding: 5px;
			box-shadow: 0px 0px 10px #aaaaaa;
			border-radius: 10px;
			vertical-align: top;
			border-radius: 10px;
		}

		.opponent .immunities:after {
			display: block;
			text-align: center;
			content: "immunities";
			color: #333333;
			border-radius: 5px;
			font-size: 15px;
			height: 25px;
			width: 100%;
			transform: translateY(250%);
			opacity: 0.5;
			pointer-events: none;
			user-select: none;
			-webkit-user-select: none;
			-moz-user-select: none;
			-ms-user-select: none;
			-o-user-select: none;
		}

	/* cards */
		.opponent .cards {
			display: inline-block;
			padding: 5px;
			height: calc((3vh * 8) - 10px);
			min-width: calc((3vh * 6) - 10px);
			box-shadow: 0px 0px 10px #aaaaaa;
			border-radius: 10px;
			vertical-align: top;
			border-radius: 10px;
		}

		.opponent .cards:after {
			display: block;
			text-align: center;
			content: "cards";
			color: #333333;
			border-radius: 5px;
			font-size: 15px;
			height: 25px;
			width: 100%;
			transform: translateY(250%);
			opacity: 0.5;
			pointer-events: none;
			user-select: none;
			-webkit-user-select: none;
			-moz-user-select: none;
			-ms-user-select: none;
			-o-user-select: none;
		}

/*** deck ***/
	#deck {
		float: left;
		width: calc(3vh * 7);
		height: calc(3vh * 10);
		text-align: center;
		z-index: 2;
		padding-top: 50px;
	}

	#deck:after {
		position: relative;
		content: "deck";
		background-color: #222222;
		color: #aaaaaa;
		border-radius: 5px;
		padding: 10px;
		font-size: 15px;
		height: 20px;
		top: calc(-50% - 20px);
		opacity: 0.5;
		pointer-events: none;
		user-select: none;
		-webkit-user-select: none;
		-moz-user-select: none;
		-ms-user-select: none;
		-o-user-select: none;
	}

	/* cards */
		#deck-cards {
			float: left;
			background-color: #ffffff;
			border-radius: 10px;
			border: 5px solid #222222;
			width: calc(3vh * 7);
			height: calc(3vh * 5);
			color: #333333;
			padding: 0px;
			cursor: default;
			user-select: none;
			-webkit-user-select: none;
			-moz-user-select: none;
			-ms-user-select: none;
			-o-user-select: none;
		}

	/* cups */
		#deck-cups {
			float: left;
			background-color: #333333;
			border-radius: 10px;
			border: 5px solid #222222;
			width: calc(3vh * 7);
			height: calc(3vh * 5);
			color: #ffffff;
			padding: 0px;
			cursor: default;
			user-select: none;
			-webkit-user-select: none;
			-moz-user-select: none;
			-ms-user-select: none;
			-o-user-select: none;
		}

/*** pile ***/
	#pile {
		float: left;
		width: calc(3vh * 7);
		height: calc(3vh * 10);
		text-align: center;
		z-index: 2;
		padding-top: 50px;
	}

	#pile:after {
		position: relative;
		content: "pile";
		background-color: #222222;
		color: #aaaaaa;
		border-radius: 5px;
		padding: 10px;
		font-size: 15px;
		height: 20px;
		top: calc(-50% - 20px);
		opacity: 0.5;
		pointer-events: none;
		user-select: none;
		-webkit-user-select: none;
		-moz-user-select: none;
		-ms-user-select: none;
		-o-user-select: none;
	}

	/* cards */
		#pile-cards {
			float: left;
			background-color: #ffffff;
			border-radius: 10px;
			border: 5px solid #222222;
			width: calc(3vh * 7);
			height: calc(3vh * 5);
			color: #333333;
			padding: 0px;
			cursor: default;
			user-select: none;
			-webkit-user-select: none;
			-moz-user-select: none;
			-ms-user-select: none;
			-o-user-select: none;
		}

	/* cups */
		#pile-cups {
			float: left;
			background-color: #333333;
			border-radius: 10px;
			border: 5px solid #222222;
			width: calc(3vh * 7);
			height: calc(3vh * 5);
			color: #ffffff;
			padding: 0px;
			cursor: default;
			user-select: none;
			-webkit-user-select: none;
			-moz-user-select: none;
			-ms-user-select: none;
			-o-user-select: none;
		}

/*** table ***/
	#table {
		float: left;
		width: calc(100vw - (3vh * 7 * 2));
		height: calc(100vh - ((3vh * 7) + 10px + 10px + 10px + 15px) - ((3vh * 7) + 10px + 10px + 10px + 20px) - 50px);
		text-align: center;
		z-index: 1;
		background-color: #dddddd;
		padding-top: 50px;
		white-space: nowrap;
		overflow: hidden;
		overflow-x: scroll;
	}

	/* status */
		#status {
			position: absolute;
			top: calc((3vh * 7) + 10px + 10px + 10px + 15px);
			left: 50%;
			transform: translateX(-50%);
			padding: 10px;
			font-size: 20px;
			margin: 5px;
			height: 20px;
			border-radius: 5px;
			color: #111111;
			cursor: default;
			pointer-events: none;
			user-select: none;
			-webkit-user-select: none;
			-moz-user-select: none;
			-ms-user-select: none;
			-o-user-select: none;
			text-transform: uppercase;
			font-weight: bold;
			width: 100%;
		}

		#status a {
			z-index: 10;
			pointer-events: all;
			background-color: #111111;
			color: #dddddd;
			border-radius: 5px;
			padding: 5px;
			text-decoration: none;
		}

		#status a:visited {
			background-color: #111111;
			color: #dddddd;
		}

		#status a:hover {
			background-color: #090909;
		}

	/* begin */
		#begin {
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translateX(-50%) translateY(-50%);
			padding: 30px;
			font-size: 100px;
			height: auto;
			width: auto;
			border-radius: 20px;
			color: #ffffff;
			cursor: pointer;
			user-select: none;
			-webkit-user-select: none;
			-moz-user-select: none;
			-ms-user-select: none;
			-o-user-select: none;
			display: inline-block;
			margin: 5px;
			background-color: #111111;
			box-shadow: 0px 0px 50px #111111;
			z-index: 20;
			outline: none;
		}

		#begin:hover {
			background-color: #090909;
		}

		#begin[disabled] {
			display: none;
			pointer-events: none;
		}

	/* cups */
		#table-cups {
			vertical-align: top;
			display: inline-block;
			height: calc(100vh - ((3vh * 7) + 10px + 10px + 10px + 15px) - ((3vh * 7) + 10px + 10px + 10px + 20px) - 50px - 10px - 20px);
			min-width: calc(50vw - (3vh * 7) - 10px);
			box-shadow: 0px 0px 10px #aaaaaa;
			border-radius: 10px;
			padding: 5px;
		}

		#table-cups:after {
			display: block;
			text-align: center;
			content: "look";
			color: #333333;
			border-radius: 5px;
			font-size: 15px;
			height: 25px;
			width: 100%;
			transform: translateY(300%);
			opacity: 0.5;
			pointer-events: none;
			user-select: none;
			-webkit-user-select: none;
			-moz-user-select: none;
			-ms-user-select: none;
			-o-user-select: none;
		}

	/* cards */
		#table-cards {
			vertical-align: top;
			display: inline-block;
			height: calc(100vh - ((3vh * 7) + 10px + 10px + 10px + 15px) - ((3vh * 7) + 10px + 10px + 10px + 20px) - 50px - 10px - 20px);
			min-width: calc(50vw - (3vh * 7) - 10px);
			box-shadow: 0px 0px 10px #aaaaaa;
			border-radius: 10px;
			padding: 5px;
		}

		#table-cards:after {
			display: block;
			text-align: center;
			content: "play";
			color: #333333;
			border-radius: 5px;
			font-size: 15px;
			height: 25px;
			width: 100%;
			transform: translateY(300%);
			opacity: 0.5;
			pointer-events: none;
			user-select: none;
			-webkit-user-select: none;
			-moz-user-select: none;
			-ms-user-select: none;
			-o-user-select: none;
		}

/*** player ***/
	#player {
		float: left;
		width: calc(100vw - 10px);
		height: calc((3vh * 7) + 10px + 10px + 20px);
		bottom: 0px;
		background-color: #dddddd;
		white-space: nowrap;
		overflow: hidden;
		overflow-x: scroll;
		border: 5px solid #111111;
		border-radius: 10px;
	}

	/* name */
		#player .name {
			display: inline-block;
			height: calc((3vh * 7));
			width: calc((3vh * 5));
			text-align: center;
			font-size: 15px;
			padding: 10px;
			border-radius: 20px 20px 0px 0px;			
			background-color: transparent;
			color: #111111;
			resize: none;
			text-transform: uppercase;
			font-weight: bold;
		}

	/* cups */
		#player .cups {
			display: inline-block;
			min-width: calc((3vh * 5) + 10px);
			width: auto;
			height: calc((3vh * 7) + 10px);
			box-shadow: 0px 0px 10px #aaaaaa;
			border-radius: 10px;
			padding: 5px;
			vertical-align: top;
			border-radius: 10px;
		}

		#player .cups:after {
			display: block;
			text-align: center;
			content: "cup";
			color: #333333;
			border-radius: 5px;
			font-size: 15px;
			height: 25px;
			width: 100%;
			transform: translateY(250%);
			opacity: 0.5;
			pointer-events: none;
			user-select: none;
			-webkit-user-select: none;
			-moz-user-select: none;
			-ms-user-select: none;
			-o-user-select: none;
		}

	/* immunities */
		#player .immunities {
			display: inline-block;
			min-width: calc((3vh * 5) + 10px);
			width: auto;
			height: calc((3vh * 7) + 10px);
			box-shadow: 0px 0px 10px #aaaaaa;
			border-radius: 10px;
			padding: 5px;
			vertical-align: top;
			border-radius: 10px;
		}

		#player .immunities:after {
			display: block;
			text-align: center;
			content: "immunities";
			color: #333333;
			border-radius: 5px;
			font-size: 15px;
			height: 25px;
			width: 100%;
			transform: translateY(250%);
			opacity: 0.5;
			pointer-events: none;
			user-select: none;
			-webkit-user-select: none;
			-moz-user-select: none;
			-ms-user-select: none;
			-o-user-select: none;
		}

	/* cards */
		#player .cards {
			display: inline-block;
			min-width: calc((3vh * 5) + 10px);
			width: auto;
			height: calc((3vh * 7) + 10px);
			box-shadow: 0px 0px 10px #aaaaaa;
			border-radius: 10px;
			padding: 5px;
			vertical-align: top;
			border-radius: 10px;
		}

		#player .cards:after {
			display: block;
			text-align: center;
			content: "cards";
			color: #333333;
			border-radius: 5px;
			font-size: 15px;
			height: 25px;
			width: 100%;
			transform: translateY(250%);
			opacity: 0.5;
			pointer-events: none;
			user-select: none;
			-webkit-user-select: none;
			-moz-user-select: none;
			-ms-user-select: none;
			-o-user-select: none;
		}

/*** components ***/
	/* cards */
		.card {
			width: calc(3vh * 5);
			height: calc(3vh * 7);
			display: inline-block;
			border: 5px solid #222222;
			border-radius: 5px;
			background-size: cover;
			background-position: center;
			background-repeat: no-repeat;
			cursor: grab;
			cursor: -webkit-grab;
		}

		.card[face="back"] {
			background-image: url(cardback.png);
		}

		[face="front"][type="switchany"] {
			background-image: url(switchany.png);
		}

		[face="front"][type="switchleft"] {
			background-image: url(switchleft.png);
		}

		[face="front"][type="switchright"] {
			background-image: url(switchright.png);
		}

		[face="front"][type="switchclockwise"] {
			background-image: url(switchclockwise.png);
		}

		[face="front"][type="switchcounterclockwise"] {
			background-image: url(switchcounterclockwise.png);
		}

		[face="front"][type="look"] {
			background-image: url(look.png);
		}

		[face="front"][type="steal"] {
			background-image: url(steal.png);
		}

		[face="front"][type="drinkup"] {
			background-image: url(drinkup.png);
		}

		[face="front"][type="drinkall"] {
			background-image: url(drinkall.png);
		}

		[face="front"][type="redistribute"] {
			background-image: url(redistribute.png);
		}

		[face="front"][type="miracle"] {
			background-image: url(miracle.png);
		}

		[face="front"][type="arsenicimmunity"] {
			background-image: url(arsenicimmunity.png);
		}

		[face="front"][type="cyanideimmunity"] {
			background-image: url(cyanideimmunity.png);
		}

		[face="front"][type="hemlockimmunity"] {
			background-image: url(hemlockimmunity.png);
		}

		[face="front"][type="nightshadeimmunity"] {
			background-image: url(nightshadeimmunity.png);
		}

	/* cups */
		.cup {
			width: calc(3vh * 5);
			height: calc(3vh * 7);
			display: inline-block;
			border: 5px solid #222222;
			border-radius: 5px;
			background-size: cover;
			background-position: center;
			background-repeat: no-repeat;
			cursor: grab;
			cursor: -webkit-grab;
		}

		.cup[face="back"] {
			background-image: url(cupback.png);
		}

		[face="front"][type="arsenic"] {
			background-image: url(arsenic.png);
		}

		[face="front"][type="cyanide"] {
			background-image: url(cyanide.png);
		}

		[face="front"][type="hemlock"] {
			background-image: url(hemlock.png);
		}

		[face="front"][type="nightshade"] {
			background-image: url(nightshade.png);
		}

		[face="front"][type="water"] {
			background-image: url(water.png);
		}

		[face="front"][type="wine"] {
			background-image: url(wine.png);
		}

		[face="front"][type="royalwine"] {
			background-image: url(royalwine.png);
		}

	/* active */
		.card[active="true"], .cup[active="true"] {
			position: fixed;
			box-shadow: 0px 0px 20px #111111;
			z-index: 10;
			cursor: grabbing;
			cursor: -webkit-grabbing;
		}
